* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    text-align: center;
    margin-bottom: 1rem;
}

nav {
    text-align: center;
    margin-bottom: 1rem;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {
    padding: 2rem 0;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
}

.section p, .section ul {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.video-container {
    width: 640px;
    height: 360px;
    overflow: hidden; /* Скрыть полосы прокрутки */
    border-radius: 15px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для красоты */
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: none; /* Убирает рамку */
    border-radius: 15px; /* Закругленные углы плеера */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

pre {
    background-color: #f4f4f4;
    padding: 1rem;
    border-left: 5px solid #333;
    overflow-x: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}