body {
    background-color: #1a1a1a; /* Тёмный фон для лучшей видимости эффекта */
    height: 100vh;
    margin: 0;
}

.video-container {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 14px;
    animation: glowAnimation 3s ease-in-out infinite alternate;
}
#myVideo {
    width: 100%;
    height: auto;
    display: block;
}
video::-webkit-media-controls {
    display: none !important;
}
video::-webkit-media-controls-enclosure {
    display: none !important;
}

@keyframes glowAnimation {
    0% {
        box-shadow: 0 0 14px 6px rgba(251, 255, 254, 0.12);
    }
    100% {
        box-shadow: 0 0 14px 6px rgba(160, 160, 160, 0.12);
    }
}
