:root {
    --bg: #131516;
    --fg: #98a3ad;
    --ig: #43484D;
    --sbg: #292C2F;
    --lh: #3473AD;
}

html {
    font-family: "Open Sans", sans-serif;
    color: var(--fg);
    background-color: var(--bg);
    text-size-adjust: none;
    font-weight: 500;
    scroll-behavior: smooth;
    hyphens: auto; 
}

body {
    height: 100vh;
    margin: 0;
    overflow-y: overlay;
}

svg {
    cursor: pointer;
    color: var(--ig);
    fill: var(--ig); 
    transition: color 1.0s, fill 1.0s;
}

svg:hover {
    color: var(--fg);
    fill: var(--fg);
}

h2, h3 {
    margin-top: 1.5em;
}

h4, h5 {
    margin-top: 0.7em;
}

p, ol, ul {
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: var(--lh);
}

button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--sbg);
    color: var(--lh);
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 9px;
    transition: color 1.0s;
}

button:hover {
    color: var(--fg);
}

.shift-block {
    margin-left: 28px;
}

::-webkit-scrollbar-track {
    background: var(--bg);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--ig);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--fg);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--ig) var(--bg);
}

#sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    top: 0;
    left: -220px;
    background-color: var(--sbg);
    overflow-x: hidden;
    transition: left 0.5s;
    padding-top: 52px;
}

#sidebar.open {
    left: 0;
}

#sidebar li {
    cursor: pointer;
    padding: 8px 0;
    color: var(--fg);
    font-weight: 700;
    transition: color 0.3s;
    display: block;
    width: 142px;
}

#sidebar li:hover {
    color: var(--lh);
}

#sidebar ol {
    padding-left: 28px;
}

#page {
    transition: margin-left 0.5s;
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0 14px;
    gap: 8px;
    background-color: var(--bg);
}

.menu-bar.sidebar-open {
    position: fixed;
    top: 0;
    left: 220px;
    right: 0;
    z-index: 1000;
}

.left-buttons {
    display: flex;
    align-items: center;
    gap: 14px;
}

.menu-title {
    font-size: 26px;
    cursor: default;
}

.content {
    margin: auto;
    max-width: 900px;
    padding: 0 28px;
    margin-top: 28px;
}

.content-block {
    margin-bottom: 42px;
}

.mono-font {
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace;
    font-weight: 100;
    color: var(--ig);
}

.basement {
    margin-top: 56px;
    width: 100%;
    height: 28px;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    color: var(--ig);
}

.basement a {
    color: var(--ig);
}

.video-content-block {
    text-align: center;
}

video {
    width: 100%;
    height: auto;
    border-radius: 9px;
}

.content-block table {
    padding-left: 28px;
}

.min-t {
    font-size: 13px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
}

th, td {
    border-bottom: 1px solid var(--fg);
    border-right: 1px solid var(--fg);
    padding: 9px;
}

table tr td:first-child, 
table tr th:first-child {
    border-left: 1px solid var(--fg);
}

table tr th {
    border-top: 1px solid var(--fg);
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 9px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 9px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 9px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 9px;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 18px;
}

.contact-icons {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar {
    border-radius: 50%;
    width: 90px;
}

#info-video {
    width: 410px;
    height: auto;
}

.hyperlink {
    color: var(--lh);
    cursor: pointer;
}

.items-description b {
    color: var(--lh);
}

.image-content {
    width: 100%;
    border-radius: 9px;
}

#notifications-img {
    margin: auto;
    width: 760px;
}

.image-content-block {
    display: flex;
}

.logos-versions {
    margin: 36px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.logos-versions img {
    width: 120px;
    border-radius: 50%;
}

.logos-versions div {
    text-align: center;
}

.hidden-details {
    display: block;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.hidden-details.show {
    opacity: 1;
    max-height: 2000px;
}

.hyperlink svg {
    height: 19px;
    fill: var(--lh);
}

#down {
    transition: transform 0.3s ease;
}

#down.rotated {
    transform: rotate(180deg);
}

hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right, #ff7675, #74b9ff);
    background-size: 200% 100%;
    animation: moveGradient 7s infinite alternate;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@media (max-width: 768px) {
    #sidebar {
        padding-top: 28px;
    }

    #sidebar li {
        padding: 5px 0;
    }

    .content {
        padding: 0 16px;
    }

    .menu-title {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }

    .contact-info {
        flex-direction: column;
        gap: 13px;
    }

    #info-video {
        width: 100%;
    }

    .menu-bar {
        height: 40px;
    }

    #notifications-img {
        width: 100%;
    }

    .logos-versions {
        gap: 21px;
    }

    .logos-versions img {
        width: 74px;
    }

    .basement {
        margin-top: 36px;
    }
}

